.auth-btn-submit {
  margin-top: 1rem;
}

.form {
  margin-top: 1rem;
  width: 100%;
}

.auth-form {
  margin: 7rem auto 0;
  max-width: 900px;

  button {
    align-self: flex-end;
    margin-bottom: 1rem;
    max-width: 200px;
  }
}

.auth-style {
  margin: 1rem;
  margin-top: 2rem;
  padding: 1rem;
}
